.playground-container{
    display: flex;
    flex-direction: column;
}

.editor-container{
    min-height: 60vh;
    display: flex;
}

li{
    list-style: none;
}

.file-node{
    background-color: rgb(215, 177, 131);
}